setuptools  # Packaging and installation
fastapi~=0.138.1  # API framework
pydantic~=2.13.4  # Data validation and settings management
pydantic-settings~=2.14.2  # Data validation and settings management
uvicorn~=0.49.0  # Minimal low-level server/application interface
a2wsgi~=1.10.10  # Required for WSGI support (passenger, gunicorn)
sqlalchemy~=2.0.51  # SQL interface
psycopg2-binary~=2.9.12